.moviePic {
  width: 200px;
  height: 250px;
  padding-top: 20px;
}
.title {
  text-align: left;
}
.title h4 {
  color: black;
  width: 40%;
  height: 10;
  text-align: justify;

}
.title  p {
  color: black;
  width: 60%;
  height: 50;
  text-align: justify;
}
.view{

  display:inline-block;
   margin-right:20px;
   border: none;
   background-color: #40a8c4



}
.wishlist{

  display:inline-block;
   margin-right:20px;
   border: none;
   background-color: #40a8c4


}
