.header {
  margin-top: 50px;
}
.footer {
  margin-top: 50px;
}
.srch {
  width: 500%;
  text-align: center;
}
.view{

  display:inline-block;
   margin-right:20px;
   border: none;
   background-color: #40a8c4



}
.wishlist{

  display:inline-block;
   margin-right:20px;
   border: none;
   background-color: #40a8c4


}
